<!-- 캐치프레이즈-->
<div class="hero-unit">
	<h1 style="color: #ed3a7a;">EVERYUSE</h1>
	<h2 style="color: #3b3b3b;"> Share Your Creative Uses! </h2>
	<p style="color: #3b3b3b;">
		We often use one object to many different purpose
		<br>
		Now Share your own creative uses through EveryUse
	</p>
	<!-- <p>
	<a class="btn btn-primary btn-large"> Learn more </a>
	</p> -->
</div>

<div class="row">
	<div id="myCarousel" class="carousel slide span10 offset1" data-interval="5000" style="margin-bottom: 0;">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<% @carousel_list.each do |use_case| %>
			<div class="item">
				<%= image_tag use_case.photo.url(:large) %>
				<div class="carousel-caption">
					<h4>First Thumbnail label</h4>
					<p>
						<%= "#{use_case}" %>
					</p>
				</div>
			</div>
			<% end %>

			<!--
			<div class="item active">
			<%= image_tag "carousel/1.jpg" %>
			<div class="carousel-caption">
			<h4>First Thumbnail label</h4>
			<p>
			Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
			</p>
			</div>
			</div>
			<div class="item">
			<%= image_tag "carousel/2.jpg" %>
			<div class="carousel-caption">
			<h4>Second Thumbnail label</h4>
			<p>
			Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
			</p>
			</div>
			</div>
			<div class="item">
			<%= image_tag "carousel/3.jpg" %>
			<div class="carousel-caption">
			<h4>Third Thumbnail label</h4>
			<p>
			Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
			</p>
			</div>
			</div> -->

		</div>

		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>

<!-- 앱 소개 패널 -->
<div class="row" style="margin-top: 0;">
	<div class="span10 offset1" style="height: 100px; background-color: #3d3d3d;">
		<div class="row" style="height: 100%;">
			<!-- Mobile app -->
			<div class="span5">
				<span style="color: white; font-size: 24pt;">Download Mobile App</span>
				<br>
				<span style="color: #e7685d; font-size: 18pt;">Install EveryUse to Your mobile phone!</span>
			</div>

			<!-- search form -->
			<form class="navbar-search pull-left span5">
				<input type="text" class="search-query" placeholder="Search">
			</form>
		</div>
	</div>
</div>

<!-- Top panel -->
<h2 style="color: #ed3a7a;"><strong>TOP</strong> Ranked Uses</h2>

<div class="row">
	<div class="span6">
		<table class="table table-hover">
			<tr>
				<th colspan="3" style="color: #ffffff; background-color: #ed3a7a;">Wow</th>
			</tr>
			<% @wow_list.each do |use_case| %>
			<tr>
				<td class="usecase-thumbnail-container"><%= image_tag use_case.photo.url(:large) %></td>
				<td class="usecase-title-container"><span class="usecase-title"> <%= "#{use_case}" %></span>
				<br>
				<span> by #username Yesterday </span></td>
				<td class="usecase-comment-count"><245><%= use_case.wows_count %></td>
			</tr>
			<% end %>
			<!-- <tr>
			<td class="usecase-thumbnail-container"><img alt="" src="http://placehold.it/100x100"></td>
			<td class="usecase-title-container"><span class="usecase-title"> Door bar handle to hang towel </span>
			<br>
			<span> by #username Yesterday </span></td>
			<td class="usecase-comment-count">245</td>
			</tr>
			<tr>
			<td class="usecase-thumbnail-container"><img alt="" src="http://placehold.it/100x100"></td>
			<td class="usecase-title-container"><span class="usecase-title"> Door bar handle to hang towel </span>
			<br>
			<span> by #username Yesterday </span></td>
			<td class="usecase-comment-count">245</td>
			</tr>
			<tr>
			<td class="usecase-thumbnail-container"><img alt="" src="http://placehold.it/100x100"></td>
			<td class="usecase-title-container"><span class="usecase-title"> Door bar handle to hang towel </span>
			<br>
			<span> by #username Yesterday </span></td>
			<td class="usecase-comment-count">245</td>
			</tr>
			<tr>
			<td class="usecase-thumbnail-container"><img alt="" src="http://placehold.it/100x100"></td>
			<td class="usecase-title-container"><span class="usecase-title"> Door bar handle to hang towel </span>
			<br>
			<span> by #username Yesterday </span></td>
			<td class="usecase-comment-count">245</td>
			</tr> -->
		</table>
	</div>
	<div class="span6">
		<table class="table table-hover">
			<tr>
				<th colspan="3" style="color: #ffffff; background-color: #ed3a7a;">Metoo</th>
			</tr>
			<tr>
				<td class="usecase-thumbnail-container"><img class="usecase-thumbnail" alt="" src="http://placehold.it/100x100"></td>
				<td class="usecase-title-container"><span class="usecase-title"> Door bar handle to hang towel </span>
				<br>
				<span> by #username Yesterday </span></td>
				<td class="usecase-comment-count">245</td>
			</tr>
			<tr>
				<td class="usecase-thumbnail-container"><img alt="" src="http://placehold.it/100x100"></td>
				<td class="usecase-title-container"><span class="usecase-title"> Door bar handle to hang towel </span>
				<br>
				<span> by #username Yesterday </span></td>
				<td class="usecase-comment-count">245</td>
			</tr>
			<tr>
				<td class="usecase-thumbnail-container"><img alt="" src="http://placehold.it/100x100"></td>
				<td class="usecase-title-container"><span class="usecase-title"> Door bar handle to hang towel </span>
				<br>
				<span> by #username Yesterday </span></td>
				<td class="usecase-comment-count">245</td>
			</tr>
			<tr>
				<td class="usecase-thumbnail-container"><img alt="" src="http://placehold.it/100x100"></td>
				<td class="usecase-title-container"><span class="usecase-title"> Door bar handle to hang towel </span>
				<br>
				<span> by #username Yesterday </span></td>
				<td class="usecase-comment-count">245</td>
			</tr>
		</table>
	</div>
</div>
</div>