<div class="row">
	<ul class="nav nav-pills nav-stacked span2">
		<li>
			<%= link_to 'Top Wow', top_use_cases_path(:type => 'wow') %>
		</li>
		<li>
			<%= link_to 'Top Me, Too', top_use_cases_path(:type => 'metoo') %>
		</li>
		<li>
			<%= link_to 'Recent', use_cases_path %>
		</li>
	</ul>

	<div class="content row span10">
		<ul class="use_cases thumbnails">

			<% @use_cases.each_with_index do |use_case, index| %>
			<li class="span5">
				<div class="thumbnail" data-usecase-id='<%= use_case.id %>'>
					<div class="usecase-photo-container">
						<%= image_tag use_case.photo.url(:large), :class => 'usecase-photo' %>
					</div>

					<div class="caption">
						<!-- # of comments -->
						<p style="text-align: right;">
							<%= content_tag :span, use_case.wows_count, :class => 'usecase-keyword' %>
							Wow
							<%= content_tag :span, use_case.metoos_count, :class => 'usecase-keyword' %>
							Metoo
						</p>

						<!-- description -->
						<p style="text-align: left; font-size: 14pt">
							I used <%= content_tag :span, use_case.item, :class => 'usecase-keyword' %>
						</p>
						<p style="text-align: right; font-size: 14pt">
							As <%= content_tag :span, use_case.purpose, :class => 'usecase-keyword' %>
						</p>

						<!-- comment buttons -->
						<div class="btn-panel">
							<button class="btn btn-danger" data-toggle="button">
								Wow
							</button>
							<button class="btn btn-inverse" data-toggle="button">
								Me, too
							</button>
						</div>
					</div>
				</div>
			</li>
			<% end %>

		</ul>
	</div>
</div>
