<h1>Listing use_cases</h1>

<table class='cases'>
  <tr>
  	<th>Id</th>
    <th>Photo</th>
    <th>Writer</th>
    <th>Product</th>
    <th>Function</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @use_cases.each do |use_case| %>
  <tr>
  	<td><%= use_case.id %></td>
    <td><%= image_tag use_case.photo.url(:thumb) %></td>
	<td><%= User.find(use_case.user_id).username %></td>
    <td><%= use_case.product %></td>
    <td><%= use_case.function %></td>
    <td><%= link_to 'Show', use_case %></td>
    <td><%= link_to 'Edit', edit_use_case_path(use_case) %></td>
    <td><%= link_to 'Destroy', use_case, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Use case', new_use_case_path %>
