<p id="notice">
	<%= notice %>
</p>
<%= image_tag @use_case.photo.url(:large) %>
<p>
	<b>Writer:</b>
	<%= User.find(@use_case.user_id).username %>
</p>
<p>
	<b>Product:</b>
	<%= @use_case.item %>
</p>
<p>
	<b>Function:</b>
	<%= @use_case.purpose %>
</p>
<%= link_to 'Edit', edit_use_case_path(@use_case) %> |
<%= link_to 'Back', use_cases_path %>

<p>
	<h2>Comments</h2>
	<input type="checkbox" id="favorite" class="comment_btn" />
	<label for="favorite">Favorite (<%= @favorites_count %>)</label>
	<span class="count"></span>
	
	<input type="checkbox" id="fun" class="comment_btn" />
	<label for="fun">Fun (<%= @funs_count %>)</label>
	<span class="count"></span>
	
	<input type="checkbox" id="metoo" class="comment_btn" />
	<label for="metoo">Me Too (<%= $metoos_count %>)</label>
	<span class="count"></span>
</p>
