<p id="notice">
	<%= notice %>
</p>
<%= image_tag @use_case.photo.url(:large) %>
<p>
	<b>Writer:</b>
	<%= User.find(@use_case.user_id).username %>
</p>
<p>
	<b>Product:</b>
	<%= @use_case.item %>
</p>
<p>
	<b>Function:</b>
	<%= @use_case.purpose %>
</p>

<%= link_to 'Edit', edit_use_case_path(@use_case) %> |
<%= link_to 'Back', use_cases_path %>

<p>
	<h2>Comments</h2>
	<span id="favorite_count">Favorite (<%= @favorites_count %>)</span>
	<span id="wow_count">Wow (<%= @wows_count %>)</span>
	<span id="metoo_count">Me, Too (<%= $metoos_count %>)</span>
</p>
