<h1>사용자 통계</h1>
<h2>Move to Stats Table (olduser는 기존 테스트 데이터를 위한 dummy 사용자입니다.)</h2>
<ol style="width: 50%;">
<% @users_stats.each do |username, stats| %>
	<li><a style="display: block;" href="#<%= username %>"><%= username %></a></li>
<% end %>
</ol>

<div>
	<% @users_stats.each do |username, stats| %>
		<table class="cases">
			<caption id="<%= username %>" style="font-size: 1.5em; color: blue;">Stats for <%= username %> (<a href="#TOP">Back to top</a>)</caption>
			<tr>
				<th>User ID</th>
				<th>DateTime</th>
				<th>Activity</th>
				<th>TargetCase ID</th>
				<th>TargetCase Item</th>
				<th>TargetCase Purpose</th>
			</tr>
			
			<% stats.each do |stat_item| %>
			<tr>
				<td><%= stat_item.user.username %></td>
				<td><%= stat_item.created_at %></td>
				<td><%= stat_item.activity %></td> 		
				<td><%= link_to stat_item.target_case.id, stat_item.target_case, :target => "link" %></td>				
				<td><%= stat_item.target_case.item %></td>				
				<td><%= stat_item.target_case.purpose %></td>				
			</tr>
			<% end %>
		</table>
	<% end %>
</div>
