<h1>사용자 통계</h1>
<h2>Navigator</h2>
<ol>
<% @users_stats.each do |username, stats| %>
	<li><a href="#<%= username %>">See stats for <b><%= username %></b></a></li>
<% end %>
</ol>

<div>
	<% @users_stats.each do |username, stats| %>
		<table class="cases">
			<caption id="<%= username %>" style="font-size: 1.5em; color: blue;">Stats for <%= username %></caption>
			<tr>
				<th>User ID</th>
				<th>DateTime</th>
				<th>Activity</th>
				<th>TargetCase ID</th>
				<th>TargetCase Item</th>
				<th>TargetCase Purpose</th>
			</tr>
			
			<% stats.each do |stat_item| %>
			<tr>
				<td><%= stat_item.user.username %></td>
				<td><%= stat_item.created_at %></td>
				<td><%= stat_item.activity %></td> 		
				<td><%= link_to stat_item.target_case.id, stat_item.target_case, :target => "link" %></td>				
				<td><%= stat_item.target_case.item %></td>				
				<td><%= stat_item.target_case.purpose %></td>				
			</tr>
			<% end %>
		</table>
	<% end %>
</div>
