<h1>사용자 통계</h1>
<p id="notice">
	<%= notice %>
</p>

<div style="width: 800px; margin: auto;">
	<h2>Select User Group</h2>
	<form action="/stats/use_case_stats" method="get">
		<select name="user_group">
			<option value="all">All</option>
			<option value="student">Student</option>
			<option value="housewife">Housewife</option>
		</select>

		<input type="submit" value="Show Use Cases" />
	</form>

	<table class="cases">
		<caption style="font-size: 1.5em; color: blue;">
			<%= @user_group %>'s Use Cases
		</caption>
		<tr>
			<th>ID</th>
			<th>Photo</th>
			<th>Writer</th>
			<th>User Group</th>
			<th>Item / Purpose</th>
			<th>Created at</th>
		</tr>
		<% @use_cases.each do |use_case| %>
		<tr>
			<td><%= use_case.id %></td>
			<td><%= image_tag use_case.photo.url(:thumb) %></td>
			<td><%= use_case.writer_name %></td>
			<td><%= use_case.user_group %></td>
			<td><%= link_to use_case.item + ' / ' + use_case.purpose, use_case %></td>
			<td><%= l use_case.created_at.in_time_zone("Seoul"), :format => :custom %></td>
		</tr>

		<% end %>
	</table>
</div>

<!-- <b><%= debug @use_cases %></b> -->
r 