<h1>사용자 액티비티 로그</h1>
<p id="notice">
	<%= notice %>
</p>

<h2>유저 선택</h2>
<%= form_tag({:action => :user_activity_log}, {:method => 'get'}) do %>
<%= label_tag 'user_id', 'Select User:' %>
<%= select_tag 'user_id', options_from_collection_for_select(@users, "id", "username", @user_id.to_i) %>
<%= submit_tag 'Show Stats' %>
<% end %>

<div id="stat_result">
	<% if @stats %>
	<h2 style="color: blue;"><%= @user.username %>'s Statistic</h2>

	<h3 style="font-size: 1.5em; color: red;">Followings</h3>
	<ul>
		<% @followings.each do |following| %>
		<li>
			<%= link_to following.username, following %>
		</li>
		<% end %>
	</ul>

	<!-- 	<h3>Comment Logs</h3> -->
	<table class="comment_log">
		<caption>
			Activity Logs
		</caption>
		<tr>
			<th>Activity</th>
			<th>Target</th>
			<th>Created at</th>
		</tr>
		<% @activities.each do |activity, activity_type| %>
		<tr>
			<td><%= activity_type %></td>

			<% if activity_type.eql?('StartFollowing') %>
			<td style="color: #9933CC;"><%= activity_type %>: <%= link_to activity.followed.username, User.find(activity.followed_id), :target => "detail" %></td>
			<% elsif activity_type.eql?('UploadCase') %>
			<td style="color: #669900;"><%= activity_type %>: <%= link_to (activity.item + " / " + activity.purpose), activity, :target => "detail" %></td>
			<% else %>
			<td style="color: #CC0000;"><%= activity_type %>: <%= link_to (activity.use_case.item + " / " + activity.use_case.purpose), activity.use_case, :target => "detail" %></td>
			<% end %>
			
			<td><%= l activity.created_at.in_time_zone("Seoul"), :format => :custom %></td>
		</tr>
		<% end %>
	</table>
	<% end %>
</div>

<!-- <b><%= debug @comments %></b> -->
