<!DOCTYPE html>
<html>
	<head>
		<title>EveryUse</title>
		<%= yield :head %>
		<%= stylesheet_link_tag    "application", :media => "screen" %>
		<%= stylesheet_link_tag    "bootstrap/bootstrap", :media => "screen" %>
		<style>
			.container {
				min-height: 400px;
			}

			.footer {
				border-top: 2px groove #d3d3d3;
				background: #F3F3F3;
				margin-top: 50px;
				padding: 30px 0;
			}

			.footer p {
				color: #999;
				font-size: 14px;
				padding: 0 4px 0 0;
				text-align: center;
			}
		</style>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<!-- NavBar -->
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav">
						<li>
							<%= nav_link "Home", main_index_path %>
						</li>
						<li>
							<%= nav_link 'View', use_cases_path %>
						</li>
						<li>
							<%= nav_link 'My Use', my_page_shared_path %>
						</li>
						<li>
							<%= nav_link 'About', about_index_path %>
						</li>
					</ul>
					<% unless current_user %>
					<%= render 'layouts/login_nav_form' %>
					<% else %>
					<%= render 'layouts/logout_form' %>
					<% end %>
				</div>
			</div>
			
			<div class="alert-container">
				<!-- error -->
				<% if flash[:error] %>
				<div class="alert alert-error">
					<button type="button" class="close" data-dismiss="alert">
						x
					</button>
					<%= flash[:error] %>
				</div>
				<% end %>

				<!-- warning -->
				<% if flash[:warning] %>
				<div class="alert">
					<button type="button" class="close" data-dismiss="alert">
						x
					</button>
					<%= flash[:warning] %>
				</div>
				<% end %>

				<!-- notice -->
				<% if flash[:notice] %>
				<div class="alert alert-info">
					<button type="button" class="close" data-dismiss="alert">
						x
					</button>
					<%= flash[:notice] %>
				</div>
				<% end %>
			</div>

			<%= yield %>
		</div>

		<!-- footer -->
		<%= render 'layouts/footer' %>

		<!-- JavaScripts -->
		<%= javascript_include_tag "jquery/jquery-1.8.3.min" %>
		<%= javascript_include_tag "bootstrap/bootstrap" %>
		<%= javascript_include_tag "application" %>
		<script>
			$(function() {
				$('input[placeholder], textarea[placeholder]').placeholder();
			});
		</script>
		<%= yield :body_script %>
	</body>
</html>
