<!DOCTYPE html>
<html>
	<head>
		<title>WikiUse</title>
		<%= stylesheet_link_tag    "application", :media => "screen" %>
		<%= stylesheet_link_tag    "pagination", :media => "screen" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="nav">
			<%= link_to "Use Cases", use_cases_path %> | 
			<%= link_to "Users", users_path %>
			<% if current_user %>
				<%= link_to "Edit Profile", edit_user_path(current_user.id)%>
				<%= link_to "Logout", :logout%>
				<%= "Welcome! " + current_user.username %>
			<% else %>
				<%= link_to "Register", new_user_path%>
				<%= link_to "Login", :login %>
			<% end %>
		</div>
		<%= yield %>
	</body>
</html>
