<!DOCTYPE html>
<html>
	<head>
		<title>EveryUse</title>
		<%= stylesheet_link_tag    "application", :media => "screen" %>
		<%= csrf_meta_tags %>
		<%= yield :head %>
	</head>
	<body>
		<div class="container">
			<div class="navbar">

				<div class="navbar-inner">
					<ul class="nav">
						<li>
							<%= nav_link "Home", main_index_path %>
						</li>
						<li>
							<%= nav_link 'About', about_index_path %>
						</li>
						<li>
							<%= nav_link 'View', use_cases_path %>
						</li>
						<li>
							<%= nav_link 'My Use', my_page_shared_path %>
						</li>
					</ul>
					<% unless current_user %>
						<%= render 'layouts/login_form' %>
					<% else %>
					<form class="navbar-form pull-right">
						<span class='lead'  style="font-size: 1.0em; font-weight: bold; position: relative; bottom: -4px; padding-right: 5px;"> <span style="color: #ed3a7a;"><%= current_user.username %></span>,  welcome to EveryUse! </span>
						<%= link_to "Logout", :logout, :class => "btn btn-medium btn-danger" %>
					</form>
					<% end %>
				</div>

			</div>

			<%= yield %>

			<!-- JavaScripts -->
			<%= javascript_include_tag "http://code.jquery.com/jquery-latest.js" %>
			<%= javascript_include_tag "bootstrap/bootstrap" %>
			<%= javascript_include_tag "application" %>
			<script>
				$(function() {
					$('input[placeholder], textarea[placeholder]').placeholder();
				});
			</script>
	</body>
</html>
